.cabecalho {
    height: 3.05vw;
    padding: 1.25vw 5.555%;
}

.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2.5%;
}

.cabecalho__img {
    width: 10.3vw;
}

.cabecalho__lista {
    display: flex;
}

.cabecalho__links {
    padding: 0.7em;
    text-decoration: none;
    color: var(--cor-texto);
}

.cadastrar {
    color: var(--branco);
    background-color: var(--cor-principal);
    border-radius: 8px;
}

@media screen and (max-width: 1024px) {
    .cabecalho {
        height: 10vh;
        padding: 1.388vw 5.555vw;
    }

    .cabecalho__img {
        width: 16.68vw;
    }

    .cabecalho__links {
        padding: 1.134em;
    }
}