.metricas {
    display: flex;
    padding: 0 2.22vw;
    margin: 0 5.55vw 6.66vw 5.55vw;
    gap: 2.22vw;
}

.metricas__div {
    width: 19.45vw;
}

.metricas__div-span {
    font-size: 4.16vw;
    font-weight: 600;
    color: var(--cor-principal);
}

.metricas__div-titulo {
    font-size: 1.25vw;
    margin: 0.55vw 0 0.84vw;
}

.metricas__div-texto {
    font-size: 1.11vw;
    font-weight: 400;
    color: var(--cor-texto);
    line-height: 1.74vw;
}