.sobre {
    text-align: center;
    padding: 6.67vw 20%;
    font-weight: 400;
}

.sobre__span, .sobre__titulo {
    font-weight: 600;
}

.sobre__span {
    color: var(--cor-principal);
}

.sobre__titulo {
    font-size: 2.77vw;
    padding: 1.67vw 0;
    line-height: 4.17vw;
}

.sobre__texto {
    font-size: 1.388vw;
    color: var(--cor-texto);
    line-height: 2.08vw;
}